
@{
    ViewData["Title"] = "Course";
}

<div class="row">
    <!-- Ajax data source array start-->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Ajax Data Source (Arrays)</h5><span>The example below shows DataTables loading data for a table from arrays as the data source, where the structure of the row's data source in this example is:</span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display datatables" id="ajax-data-array">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Ajax data source array end-->
</div>
@section Scripts
{
    <script src="~/js/course/courseList.js"></script>
}