
@{
    ViewData["Title"] = "Course";
}

<div class="row">
    <!-- Ajax data source array start-->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Ajax Data Source (Arrays)</h5><span>The example below shows DataTables loading data for a table from arrays as the data source, where the structure of the row's data source in this example is:</span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display datatables" id="ajax-data-array">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Course Code</th>
                                <th>Start Date</th>
                                <th>OIC</th>
                                <th>JIC</th>
                                <th>Total Students</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Course Name</th>
                                <th>Course Code</th>
                                <th>Start Date</th>
                                <th>OIC</th>
                                <th>JIC</th>
                                <th>Total Students</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Ajax data source array end-->
</div>
@section Scripts
{
    @* <script src="~/js/course/courseList.js"></script> *@

    <script>
        $(function () {
          $('#courses').DataTable({
              processing: true,
              serverSide: true,
              bFilter: false,
              ajax: {
                  url: "@ViewBag.ApiEndPoint/v3/CourseAdvanced",
                  headers: {
                      Authorization: 'Bearer @HttpContextAccessor.HttpContext.Session.GetString("token")'
                  },
                  type: "GET",
                  data: function (d) {
                      d.SearchItem = {
                          Title: $("#SearchItem_Title").val(),
                          ClassStartDateFrom: $("#SearchItem_ClassStartDateFrom").val(),
                          ClassStartDateTo: $("#SearchItem_ClassStartDateTo").val(),
                      }
                  },
              },
              columnDefs: [
                  {
                      orderable: false,
                      targets: 3,
                      render: function (data, type, row) {
                          return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/course/edit/${data}'" value='${data}'>
                                      <i class="fas fa-pencil-alt">
                                      </i>
                                      Edit
                                  </button>
                                  <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                      <i class="fas fa-trash">
                                      </i>
                                      Delete
                                  </button>`;
                      }
                  }
              ]
          });

          $("#searchButton").click(function () {
              $('#courses').DataTable().ajax.reload(null, false);
          });

          $('#courses').on('click', '.show-bs-modal', function (event) {
              var id = $(this).data("id");
              var modal = $("#modal-default");
              modal.find('.modal-body p').text('Are you sure you want to delete this record?');
              $("#deleteId").val(id);
              $("#deleteForm").attr("action", "/admin/course/delete");
              modal.modal('show');
          });

          $("#deleteButton").click(function () {
              $("#deleteForm").submit();
          });

        });
    </script>
}